.left_side_bar_group_list
  .left_side_bar_group_list__user_name
    .left_side_bar_group_list__list
      .left_side_bar_group_list__userName
        = current_user.name
      .left_side_bar_group_list__iconList
        .left_side_bar_group_list__Icon
          = link_to new_group_path do
            = icon("fas", "edit") 
        .left_side_bar_group_list__Icon
          = link_to edit_user_path(current_user) do
            = icon("fas", "cog")
  .left_side_bar_group_list__groupList
    - current_user.groups.each do |group|
      .left_side_bar_group_list__Group
        = link_to '#' do
          .left_side_bar_group_list__Group__name
            = group.name
          .left_side_bar_group_list__Group__message
            まだメッセージがありません

